*
{
	box-sizing: border-box;	
	margin: 0 auto;
	transition: 200ms ease-in-out;
	-webkit-backface-visibility:hidden;
}

.first-section,.second-section,.third-section
{
	padding: 40vh;
	color: white;	
}

.parallax--bg
{	
	background-image: url('image/parallax.png');	
	background-position: center;
	background-color: rgba(0,0,0,0.6);
	background-blend-mode: overlay;
	background-repeat: no-repeat;	
	background-size: cover;	
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
	z-index: -1;	
	transition: initial;
	padding: 6em calc(50% - 450px);	
}


.first-section
{		
	max-width: all;	
	height: 600px;	
	/*background-color: #f64747;*/	
}


.first-section h2
{		
	position: absolute;
	letter-spacing: 3px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);		
	font-size: 3em;			
}

.second-section::before
{
	background-color: white;
	position: absolute;	
	left: 0;
	margin-top: -370px;	
	width: 100%;
	height: 300px;
	content: '';
	-webkit-clip-path:polygon(0% 71%, 0% 100%, 100% 100%, 100% 88%);
	clip-path: polygon(0% 71%, 0% 100%, 100% 100%, 100% 88%);
}

.second-section
{	
	height: 800px;
	padding: 6em calc(50% - 450px);		
}

.card
{
	position: relative;	
	margin: 50px;
}

/*.card--body
{	
	position: absolute;
	width: 300px;
	height: 300px;
	background-color: orange;
}*/

.card--title::before
{	
	content: '';
	position: absolute;
	max-width: 1200px;
	width: 100%;
	height: 500px;
	/*background-color: #e8ecf1;	*/	
	box-shadow: 0px 10px 30px -5px black;
	z-index: -1;
}

.card--title h2
{		
	z-index: 1;
	font-size: 2.5em;	
	position: absolute;
	margin-top: -50px;
	margin-left: -20px;	
	max-width: 400px;
	width: 100%;
	padding: 15px;	
	background-color: #22313f;
	/*border: 5px solid black;*/
	outline: 5px solid #22313f;	
	outline-offset: 5px;		
}


.second-section .card--title h2:hover
{
	cursor: pointer;
	outline: 10px solid #22313f;	
	transition: outline 300ms ease-in-out;
}

.card--title::after
{
	content: '';
	position: absolute;
	max-width: 1200px;
	width: 100%;
	height: 300px;
	box-shadow: 5px -5px 0px 0px black;	
}

.card--content
{
	color: black;
	position: absolute;
	margin-top: 100px;
	margin-bottom: 50px;
	z-index: 2;
	padding: 5vh;
	font-size: 1.7em;
}


.third-section
{
	height: 800px;	
	padding: 6em calc(50% - 450px);
	background-color: #34495e;	
}

.third-section .card--content
{
	color: white;
	font-size: 1.3em;
}

.third-section .card--title h2
{
	background-color: white;
	outline: 5px solid white;
	outline-offset: 5px;
	color: #2c3e50;
}

.third-section .card--title h2:hover
{
	cursor: pointer;
	outline: 10px solid white;	
	transition: outline 300ms ease-in-out;
}

/* ---------------- to be continued --------------------------*/
.third-section::before
{
	content: '';
	-webkit-clip-path:polygon(0% 100%, 100% 100%, 100% 76%, 0% 89%);
	clip-path: polygon(0% 100%, 100% 100%, 100% 76%, 0% 89%);
	/*clip-path: polygon(0% 83%, 0% 100%, 100% 100%, 100% 81%, 100% 76%, 100% 71%);*/
	background-color: #34495e;
	position: absolute;	
	left: 0;
	margin-top: -370px;	
	width: 100%;
	height: 300px;
	z-index: 99;
}

.third-section .card--title::after
{
	height: 600px;
	box-shadow: -5px 5px 0px 0px white;
}

/* font family */
.font-Rokkitt
{
	font-family: 'Rokkitt', serif;
}

.font__Abril-Fatface
{
	font-family: 'Abril Fatface', cursive;	
}
